<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="customerService" class="ru.javaxblog.customer.services.CustomerService">
		<property name="name" value="Marat"></property>
		<property name="url" value="vk.com/marat.online"></property>
	</bean>
	
	<bean id="BeforeMethod" class="ru.javaxblog.aop.BeforeMethod"></bean>
	
	<bean id="customerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="customerService"></property>
		<property name="interceptorNames">
			<list>
				<value>BeforeMethod</value>
			</list>
		</property>
	</bean>	
	
</beans>
